nav {
    background-color: rgb(194, 230, 255);;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
}

#content-align {
    margin: 10px;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin: 0;
}

#fuel-container {
    display: flex;
    gap:10px;
}

img {
    width: 50vw;
    border: rgb(67, 84, 136) solid 3px;
    border-radius: 10px;
}

.img-reference {
    color:gray;
    font-size: 11px;
}

#main-content-align {
    display: flex;
    gap: 10px;
}

#nav-el-container {
    display: flex;
    gap: 20px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#references {
    font-size: 14px;
    color: rgb(56, 56, 56);
}

.nav-el {
    background-color: lightblue;
    margin: 0;
    padding: 5px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-el-sel {
    background-color: rgb(194, 230, 255);
    margin: 0;
    padding: 5px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-el:hover {
    background-color: rgb(113, 196, 255);
}

.nav-button {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body, html {
    background-color: rgb(225, 242, 255);
    margin: 0;
}

.popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgb(71, 151, 205);
  color: rgb(0, 0, 0);
  padding: 15px;
  border: 5px solid rgb(34, 36, 133);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.popup.show {
  display: block;
  opacity: 1;
}

.popup.hide {
    opacity: 0;
}

#popup-button {
  background: rgb(34, 36, 133);
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

#popup-button:hover {
  background: rgb(41, 93, 128);
}